.containerHome {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
}

.containercards {
    display: flex;
    gap: 16px;
    padding: 16px 28px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
}

.filters {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.optionLoginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    font-size: 26px;
    color: #ffff;
}

.optionLoginContainer span {
    opacity: 0.5;
    cursor: pointer;
}

.loginContainer {
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 500px) {
    .filters {
        flex-direction: column-reverse;
        gap: 0;
    }
}