.containerHome {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    overflow: auto;
}

.containercards {
    display: flex;
    gap: 16px;
    padding: 16px 28px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
}

.filters {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.optionLoginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    font-size: 26px;
    color: #ffff;
}

.optionLoginContainer span {
    opacity: 0.5;
    cursor: pointer;
}

.loginContainer {
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.productContainer {
    background-color: #202B39;
    width: 60vw;
    margin: 16px 0;
    border-radius: 8px;
    min-height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16pt;
    min-width: 350px;
}

.dashboardContainer {
    display: grid;
    grid-template-columns: 200px 60vw;
    gap: 22px;
    margin-top: 26px;
    justify-content: center;
}

.dashboardMenu div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 12px;
    cursor: pointer;
}

.dashboardMenu div:hover {
    background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(21, 29, 39, 0.5803571428571428) 49%, rgba(21, 29, 39, 0.5383403361344538) 100%);
    width: 100%;
    height: 100%;
}

.dashboardMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #202B39;
    border-radius: 6px;
    height: 150px;
}


@media (max-width: 500px) {
    .filters {
        flex-direction: column-reverse;
        gap: 0;
    }
}

@media (max-width: 650px) {
    .dashboardContainer {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
    }
}

.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
    height: 640px !important;
    background-color: #202B39 !important;
}

.css-1ex1afd-MuiTableCell-root,
.css-177gid-MuiTableCell-root,
.css-fikjyc-MuiTableCell-root-MuiTablePagination-root,
.css-78trlr-MuiButtonBase-root-MuiIconButton-root.Mui-disabled,
.css-10bey84-MuiSvgIcon-root-MuiNativeSelect-icon,
.css-i4bv87-MuiSvgIcon-root {
    color: #fff !important;
}