.header {
    width: 100%;
    height: 100%;
    background-color: #151d27;
    display: flex;
    justify-content: space-between;
    padding: 0 28px;
    border-bottom: 1px solid #1d2631;
    box-shadow: 0 2px 7px #0000004d;
    align-items: center;
}

.cartCount {
    position: absolute !important;
    padding: 8px 7px;
    border: 2px solid #151d27;
    border-radius: 100%;
    font-size: 11px;
    line-height: .4;
    background-color: red;
    top: 5px;
    right: 1px;
}

.cartButtonHeader {
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px transparent solid;
    color: #fff;
}


.cartButtonHeader:hover {
    border-top: 2px rgb(231, 18, 61) solid;
    color: #fff;
}

.login-cart {
    display: flex;
    gap: 12px;
    height: 100%;
    align-items: center;
}

.loginButton {
    height: 100%;
    border-top: 2px transparent solid;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    cursor: pointer;
    color: #fff;
}

.loginButton:hover {
    color: #fff;
    border-top: 2px rgb(231, 18, 61) solid;
}